---
import BaseLayout from "src/layouts/BaseLayout.astro";
import FaqPage from "@components/TemplateComponents/FaqPage.astro";
import CTA from "@components/CTA.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import "src/styles/services.scss";

export async function getStaticPaths() {
  // Get all entries from the 'services' collection
  const services = await getCollection("services");

  // Log to check what paths are being generated
  console.log(
    "Generated static paths:",
    services.map((service) => service.id)
  );

  return services.map((service) => ({
    params: { slug: service.id },
  }));
}

interface Props {
  entry: CollectionEntry<"services">;
}

// Fetch the slug parameter
const { slug } = Astro.params;

// Import the content for the given slug
const serviceData = await getCollection("services");
const currentService = serviceData.find((service) => service.id === slug);

if (!currentService) {
  throw new Error(`Service not found: ${slug}`);
}

const { title, description, faqItems, aboutSection, masonryLayout, cta, aboutList} =
  currentService.data;

function generateFaqSchema(faqItems) {
  return {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    mainEntity: faqItems.map((faqItem) => ({
      "@type": "Question",
      name: faqItem.question,
      acceptedAnswer: {
        "@type": "Answer",
        text: faqItem.answer,
      },
    })),
  };
}

const faqSchema = {
  "@context": "https://schema.org",
  "@type": "FAQPage",
  mainEntity: faqItems.map((faq) => ({
    "@type": "Question",
    name: faq.question,
    acceptedAnswer: {
      "@type": "Answer",
      text: faq.answer,
    },
  })),
};
const faqSchemaString = JSON.stringify(faqSchema);
---

<BaseLayout title={title} description={description}>
  <section class="serviceAboutSection">
   
    <!-- <img class="serviceAbout__bg" src="/assets/images/services/service-bg.webp" alt="swirl" role="presentation" /> -->
    <!-- <picture>
      
      <source
        srcset="/assets/images/services/service-bg-m.webp"
        media="(max-width: 1024px)"
      />
      
      <source
        srcset="/assets/images/services/service-bg.webp"
        media="(min-width: 1025px)"
      />
      
      <img
        src="/assets/images/services/service-bg-m.webp"
        alt="swirl" 
        role="presentation"
        class="serviceAbout__bg"
      />
    </picture> -->
    <div class="serviceAboutSection__container">
      <div class="serviceAboutSection__row">
        <div class="aboutContent">
          
          <article class="service-section">
            <h1 set:html={aboutSection.heading} />
            <div set:html={aboutSection.content}>
          </article>
          <figure class="serviceAboutSection__pc">
            <picture>
              
              <source
                srcset={`/assets/images/services/${aboutSection.headerImg?.replace('.webp', '-m.webp') || 'default-image-m.webp'}`}
                media="(max-width: 1024px)"
              />
              
              <source
                srcset={`/assets/images/services/${aboutSection.headerImg || 'default-image.webp'}`}
                media="(min-width: 1025px)"
              />
             
              <img
                src={`/assets/images/services/${aboutSection.headerImg || 'default-image.webp'}`}
                alt="Laptop with website"
              />
            </picture>
          </figure>
        </div>
      </div>
    </div>
    
  
<svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" version="1.1" viewBox="0 0 1152.34 1381.03"><defs></defs><path d="M1152.34 600.96c-9.68-.88-20.5-1.7-30.23-.95-36.57 2.82-59.25 41.29-90.85 56.99-119.45 59.34-231.56-105.15-344.33-124.88-89.66-15.69-163.08 45.36-235.71 87.24-44.54 25.68-79.18 47.91-133.33 34.12-23.69-6.03-44.96-18.64-65.4-31.58l-2.54.66c-.44 2.27 30.01 26.67 34.1 31.16 53.01 58.25 128.29 149.61 216.14 100.99 79.03-43.74 141.3-159.74 245.32-142.92 45.32 7.33 86 47.35 122.38 73.46 62.74 45.04 150.34 98.43 226.79 52.42 21.79-13.11 38.76-33.63 57.68-50.32v46.56c-55.42 64.43-126.94 69.16-201.29 34.25-51.9-24.37-87.09-60.3-132.49-92.15-118.26-82.97-190.16 32.29-267.17 103.04-57.49 52.81-100.17 47.92-157.47-1.92-44.78-38.95-80.26-90.58-123.81-130.59-55.18-50.69-99.76-41.97-147.39 11.04-32.85 36.57-61.28 77.11-91.71 115.65-9.75 12.35-19.54 24.93-30.68 36.04v-40.8c33.75-41 60.33-88.48 95.07-128.61 36.57-42.25 69.19-65.41 124.46-36.19 3.47 1.83 9.54 6.57 12.52 7.64 1.2.43 2.9.55 2.19-1.23-.67-1.68-8.96-7.15-11.06-9.11-.82-.77-1.55-1.65-2.37-2.43-.15-.72.92-.62 1.42-.46 7.69 2.41 20.16 11.14 29.33 14.84 96.02 38.68 145.71-23.09 223.96-62.06 80.8-40.24 161.11-60.32 246.78-19.87 88.5 41.78 199.69 161.58 301.38 88.99 12.81-9.14 23.31-21.15 36.84-29.4 27.39-16.7 61.7-20.59 91.5-8.34v18.72Z" class="svg-swirl"/><path d="M1152.34 773.76v37.92c-54.14 60.17-124.9 76.49-201.14 48.5-62.97-23.13-97.2-65.44-150.48-99.12-116.08-73.35-179.74 70.5-251.71 133.68-60.56 53.16-112.69-6.61-150.23-53.35-36.86-45.89-99.39-146.37-152.03-167.65-49.15-19.88-88.42 19.56-117.75 53.48C87.75 774.91 50.57 828.75 7.08 874.1c-1.78 1.86-4.17 4.98-6.75 5.25v-35.04c42.67-43.29 75.74-95.03 115.22-141.1 36.46-42.53 79.14-85.03 137.9-52.51 46.98 26 99.07 106.2 137.1 148.02 29.93 32.91 70.41 73.67 119.3 60.72 41.35-10.96 93.21-79.62 124.04-111.16 63.05-64.49 116.91-83.33 194.82-24.85C888.65 768.42 947.84 823.59 1028 827.5c49.3 2.4 90.93-19.1 124.31-53.75Z" class="svg-swirl"/><path d="M1152.34 1032v37.44c-33.69 7.82-64.94 23.13-97.42 34.58-51.74 18.24-80.68 22.68-132.67.15-52.35-22.69-100.83-53.96-152.61-77.79-102.79-47.32-156.82-34.26-241.76 34.45-54.69 44.24-108.06 94.45-165.71 134.77-64.28 44.97-103.57-3.57-136.64-56.16-26.41-42-47.47-88.55-71.44-132.08-15-27.25-33.23-63.99-58.27-82.85-22.21-16.74-41.24-7.2-58.54 10.53-.73.14-.6-.91-.49-1.45.41-1.98 8-12.71 9.79-15.17 56.92-78.25 98.6-2.71 127.67 49.58 28.18 50.69 51.43 104.43 85.45 151.67 27.8 38.59 56.83 72.51 108.32 46.28 94.31-48.04 186.64-189.63 292.26-196.38s190.76 77.36 285.64 104.2c67.42 19.07 96.01-1.48 155.28-24.24 16.82-6.46 33.96-12.07 51.12-17.52Z" class="svg-swirl"/><path d="M1152.34 957.12v36c-10.71 4.44-21.73 8.07-32.33 12.79-32.84 14.63-64.29 35.59-100.79 40.33-91.24 11.84-200.95-73.16-287.59-98.97-144.14-42.95-223.13 117.19-331.91 176.43-52.28 28.47-80.05 11.17-113.7-32.26-38.66-49.89-65.2-116.65-98.67-171.09-13.26-21.57-38.61-62.72-65.68-65.84-20.4-2.35-30.71 9.08-44.53 20.54-.77.64-1.93 2.54-2.9.94 11.59-15.82 24.1-32.9 40.78-43.7 40.04-25.91 71.13 8.29 91.73 39.85 38.93 59.66 68.19 126.57 112.88 182.8 60.26 75.82 110.28 35.82 169.8-14.32 82.88-69.82 146.8-168.01 269.95-117.26 70.79 29.17 164.19 84.78 239.84 89.44 59.05 3.64 101.79-35.1 153.11-55.67Z" class="svg-swirl"/><path d="M1152.34 1104v35.52c-46.27 10.88-88.08 35.84-134.19 47.73-55.17 14.22-85.87-6.39-131.41-32.2-54.06-30.64-111.93-69.94-169.59-92.49-74.37-29.09-149.55 24.38-204.62 69.31-51.73 42.2-101.77 91.35-155.16 130.92-71.54 53.01-120.22-10.3-155.23-68.25-25.44-42.12-48.25-85.92-73.34-128.26-27.28-46.05-70.82-131.8-127.98-61.15-2.71-9.93 1.84-16.09 6.81-23.91 11.85-18.68 31.42-37.35 55.5-34.54 20.5 2.39 43.54 33.32 53.78 49.9 41.58 67.32 70.15 141.57 118.27 206.21 35.12 47.19 68.83 60.26 120.68 25.85 78.63-52.18 146.33-138.33 228.49-180.47 113.97-58.45 193.63 16.99 289.92 68.49 52.83 28.26 94.06 47.84 155.41 31.24 41.35-11.19 80.85-33.5 122.67-43.89ZM1152.34 401.28v44.16c-41.44-10.14-77.37-22.26-119.54-6.74-35.02 12.89-55 43.29-90.5 53.5-74.54 21.44-146.87-43.84-208.51-76.07-41.96-21.94-69.31-19.14-114.73-22.55-69.89-5.24-152.8-16.24-219.61 8.89-35.43 13.33-61.08 39.3-96.07 53.69-71.03 29.2-130.69 12.01-193.9-24.35-25.68-14.78-51.02-34.5-76.49-48.31-10.25-5.56-20.89-9.25-32.66-6.22v-23.52c17.08-11.66 34.47-9.17 52.49-1.61 88.76 37.26 167.12 94.35 269.32 65.17 28.5-8.13 53.73-24.09 81.43-33.77 38.27-13.37 76.39-16.22 116.59-17.81 44.55-1.76 97.8-3.59 142.13-.99 25.6 1.5 54.5 9.73 77.89 20.03 66.68 29.38 147.76 109.5 225.6 71.38 23.12-11.32 39.35-32.28 60.87-45.69 39.98-24.93 81.94-21.7 125.68-9.2Z" class="svg-swirl"/><path d="M1152.34 888.96v31.2c-38.99 21.7-72.53 57.46-119.53 60.95-89.29 6.62-177.89-49.63-257.1-83.68-47.12-20.25-75.63-30.22-125.14-6.72-69.52 33-114.29 105.39-178.36 147.08s-100.8 18.2-142.41-39.08c-32.29-44.45-58.56-95.96-89.44-141.92-18.28-27.22-42.45-66.73-80.21-63.86-38.48 2.93-76.9 61.15-96.47 90.74C42.17 916.2 23.24 950.5.34 982.09v-19.68c33.55-40.11 60.42-85.33 91.78-127.1 23.31-31.05 63.51-83 107.91-72.59 34.3 8.04 57.05 47.09 75.65 74.11C300 872.14 322.22 909.09 347.07 944c32.57 45.75 72.02 96.31 134.58 66.78 90.78-42.85 156.48-198.9 275.12-160.65 30.27 9.76 60.81 31.24 89.3 46.06 70.26 36.57 161.92 76.03 239.99 41.23 25.9-11.54 45.34-30.12 66.27-48.45ZM.34 227.52c41.55-5.44 68.68-38.79 94.06-68.66 22.26-26.21 42.43-54.16 64.37-80.59 25.94-31.24 47.36-51.26 90.7-54.26 107.21-7.4 226.35 69.54 277.45 161.25 15.76 28.29 23.04 66.85 64.79 59.07 61.56-11.47 126.34-56.04 185.28-78.72 53-20.39 88.99-3.93 137.92 16.62 42.49 17.84 104.88 56.03 151.25 47.91 39.67-6.95 58.28-44.67 74.5-77.18l11.68-18.56v22.56c0 2.11-20.69 29.87-23.82 34.74-21.66 33.71-37.29 67.09-83.18 70.42-48.81 3.54-114.35-40.47-159.23-59.73-98.49-42.27-164.65 10.1-253.14 44.8-31.56 12.37-77.2 31.42-103.69 1-17.38-19.96-30.57-44.44-49.4-64.84-58.85-63.77-196.67-137.74-283.95-106.32-45.78 16.48-87.35 83.17-120.21 119.79-21.15 23.57-45.54 48.67-75.37 60.47v-29.76Z" class="svg-swirl"/><path d="M1152.34 838.08v25.44c-49.49 56.41-116.46 71.02-188.37 53.01-61.14-15.31-115.33-56.82-170.03-86.29-127.57-68.73-183.61 70.66-268.17 131.52-75.17 54.1-119.48-2.12-162.38-60.97-31.55-43.28-61.48-95.91-97.6-134.72-66.79-71.75-117.57-18.71-164.07 40.43C72.76 843.33 47.15 882.88 18 919.58c-5.53 6.97-11.28 14.15-17.66 20.26V909.6c44.7-45.72 79.91-100.82 121.95-148.77 36.08-41.15 83.07-86.35 138.53-45.46 8.92 6.58 20.63 17.46 28.02 25.74 48.2 54.12 89.31 135.87 144.01 181.43 54.96 45.77 89.91 23.94 134.4-19.15C638.8 834.1 694.52 725.63 809.75 801c18.82 12.31 36.36 27.33 55.26 39.78 75.04 49.47 173.12 85.72 254.04 26.88 12.08-8.79 22.43-19.44 33.3-29.58ZM1152.34 361.92c-33.66-12.34-69.37-10.02-100.82 7.18-41.75 22.83-57.63 64.94-111.83 68.65-63.64 4.36-152.27-73.48-216.69-92.4-34.14-10.03-88.65-5.82-125.01-4.51-66.26 2.4-130.58 11.29-194.65 28.07-15.97 4.19-31.66 10.09-47.79 13.65-90.27 19.91-181.29-28.71-264.47-57.14-34.63-11.84-58.46-21.42-87.44 8.64-1.27 1.32-1.32 4.36-3.31 2.42 0-.65-.07-1.31-.05-1.96.11-4.01 9.52-16.34 12.55-20.1 35.11-43.54 65.71-40.9 117.11-27.87 99.39 25.19 187.81 79.41 295.05 64.68 93.4-12.83 195.21-43.1 290.05-37.29 88.21 5.4 166.84 105.35 253.19 91.89 46.86-7.3 60.57-43.89 94.5-68.7 22.36-16.35 48.43-25.86 76.52-22.12 4.12.55 9.74 1.21 13.08 3.24v43.68Z" class="svg-swirl"/><path d="M1152.34 178.56v26.4c-8.03 5.08-16.25 9.65-23.49 15.87-37.33 32.03-54.93 94.13-110.54 99.7-57.89 5.8-134.85-52.78-190.21-72.6-49.8-17.83-81.77-8.11-130.8 4.07-52.32 13-113.02 39.13-164.75 45.49-45.84 5.64-50.36-8.87-82.62-32.35-64.97-47.28-160.15-94.26-240.1-105.5C112.02 145.89 78 217.38 22.92 280.33c-7.21 8.24-14.48 16.66-22.57 23.99v-22.08c17.72-9.42 33.36-25.21 47.07-39.81 24.33-25.93 46.49-54.87 70.52-81.16 36.44-39.86 64.38-53.11 120-47.98 86.39 7.97 188.76 67.31 247.7 129.58 18.79 19.85 27.26 41.45 58.53 39.36 71.08-4.74 144.48-47.03 213.21-65.19 48.26-12.75 84.23-.78 127.47 19.26 45.53 21.1 104.51 61.92 156.33 53.34 59.99-9.93 69.38-77.39 111.16-111.08Z" class="svg-swirl"/><path d="M1152.34 237.12v40.32h-20.64c-10.34 0-31.3 10.64-40.14 16.5-45.6 30.24-58.28 85.25-124.02 85.26-49.74 0-128.76-55.97-176.47-76.97-57.64-25.37-126.35-9.31-186.11 1.43-45.68 8.21-93.04 20.2-138.7 26.42-39.05 5.32-55.24-.94-91.06-12.3-32.48-10.3-64.68-21.73-96.96-32.64-51.54-17.43-133.18-53.29-186.74-41.81-44.76 9.59-64.65 48.84-91.15 81.15.16-2.48-.59-5.28.49-7.66.82-1.82 10.66-11.28 12.92-13.96 36.87-43.88 68.47-100.67 132.03-104.13 67.93-3.69 175.44 44.13 236.97 74.05 26.06 12.67 74.66 44.39 101.89 43.05 13.55-.67 31.29-3.62 44.83-6.05 60.65-10.88 121.35-30.57 182.04-42.6 48.08-9.53 65.77-4.8 109.59 13.65 52.58 22.14 121.41 71.65 178.15 67.69 55.28-3.86 73.18-58.28 109.87-89.81 12.3-10.57 27.13-18.6 43.21-21.59ZM1152.34 483.84v28.8c-21.36-3.75-43.24-11.17-64.81-13.43-18.28-1.92-39.17-.11-56.66 5.71-40.07 13.34-60.49 49.63-106.65 53.67-96.91 8.49-170.99-91.08-266.88-105.35-74.88-11.15-169.5-24.53-241.56 2.04-72.43 26.71-105.85 92.94-194.15 88.07-77.2-4.26-128.81-67.25-191.84-100.96-9.39-5.02-18.47-8.83-29.44-7.52v-32.64c9.06-.59 17.42 4.5 24.69 9.39 55.5 37.31 104 98.45 177.4 103.88 78.26 5.79 109.86-36.8 167.97-73.93 82.73-52.87 170.64-22.23 260.19-17.27 9.12.51 18.75-.59 27.82.02 56.43 3.79 110.51 46.22 159.2 72.16 42.43 22.6 79.51 42.03 128.56 23.59 30.06-11.3 49.75-36.43 81.4-46.28 42.47-13.22 82.95 2.31 124.76 10.04ZM1152.34 1240.32v35.52c-36.79 7.16-73.38 22.39-110.22 28.5-44.56 7.38-72.1-4.11-110.26-24.49-58.22-31.09-111.17-76.3-171.81-102.75-79.99-34.89-117.76 8.35-173.16 56.97-37.62 33.01-73.74 67.81-111.33 100.83-36.35 31.92-59.56 56.47-112.83 41.76-76.39-21.09-146.25-134.29-199.65-192.03-17.7-19.13-44.09-45.63-69.1-53.78-36.86-12.01-66.98 6.17-93.63 29.79v-55.68c7.82-5.04 14.85-11.49 23.35-15.53 60.33-28.65 107.82 38.4 139.29 79.93 41.94 55.36 105.26 160.72 172.86 182.34 52.96 16.93 79.4-7.64 115.71-39.84 53.27-47.24 106.81-103.36 164.23-144.89 65.68-47.52 108.96-27.37 171.44 8.87 41.75 24.21 82.11 51.07 124.47 74.25 51.7 28.29 81.65 41.08 141.54 23.13 33.25-9.96 65.42-24.11 99.1-32.9Z" class="svg-swirl"/><path d="M443.38 0c40.64 26.94 74.35 62.61 98.57 104.95 8.77 15.34 20.01 47.34 32.02 57.26 27.6 22.82 65.91.05 92.96-12.6C725.91 122.04 787.7 78.7 855.7 96.47c40.51 10.59 82.07 32.21 121 47.96 55.73 22.56 107 39.68 145.72-20.3l29.93-50.23v33.12c0 3-25.41 46.82-29 52.6-36.41 58.57-80.73 45.38-135.13 23.21-87.76-35.77-141.95-83.37-239.09-32.63-38.03 19.86-112.24 69.14-152.16 72.49-40.15 3.37-44.32-34.8-56.93-63.03-25.76-57.68-74.2-108.21-127.93-140.87-10.02-6.09-20.95-10.57-30.66-16.38-1.05-.63-2.64-.97-2.86-2.42h64.8ZM1152.34 538.56v23.04c-32.38-8.67-61.71-16.66-94.34-3.62-22.47 8.99-35.25 24.12-54.16 37.04-92.8 63.4-189.83-32.36-270.38-73.91-106.6-54.98-211.1-39.89-313.63 15.02-46.04 24.66-88.09 63.28-143.54 61.98-61.17-1.44-130.46-60.46-183.15-90.44-12.25-6.97-39.59-23.14-52.92-22.9-15.1.26-30.74 14.1-39.89 24.99v-45.12c20.35-10.14 39.32 1.8 56.56 12.08 92.38 55.11 165.09 135.7 278.4 66.08 18.67-11.47 35.19-26.01 54.16-37.04 97.21-56.55 244.31-52.41 343.41-2.28 59.31 30 136.19 95.45 205.62 83.78 48.76-8.19 70.27-50.38 115.91-59.77 33.62-6.92 65.5 3.61 97.95 11.07ZM1152.34 1169.28v36l-117.87 44.37c-54.14 15.18-94.71-4.71-139.7-31.59-54.25-32.41-105.3-70.36-164.57-93.67-47.47-18.67-73.05-14.77-116.71 10.53-78.4 45.43-140.17 127.18-213.47 180.13-48.21 34.83-95.92 19.41-134.72-19.99 7.11 2.44 13.02 7.3 19.82 10.41 33.43 15.32 60.31 7 88.16-14.29 81.42-62.24 173.56-170.15 269.77-203.51 53.41-18.52 101.59 11.45 145.75 37.64 50.85 30.16 107.74 71.18 162.92 91.48 72.71 26.75 134.06-28.18 200.62-47.5Z" class="svg-swirl"/><path d="M1152.34 621.12v29.76c-26.3 12.5-41.73 37.82-65.94 53.58-100.31 65.29-209.4-37.78-287.04-91.8-63.43-44.13-121.25-40.94-185.5-.58-95.73 60.14-158.24 176.66-280.85 81.97l-44.68-37.88c1-1.3 3.45.7 4.48 1.28 52.02 29.41 79.68 48.03 141.14 21.44 108.15-46.78 191.3-176.07 324.47-104.98 83.15 44.39 182.85 157.31 287.04 111.69 25.79-11.29 36.97-25.42 56.94-42.9 14.15-12.39 30.68-21.13 49.93-21.59ZM1152.34 6.72V40.8c-28.12 29.26-41.96 80.02-86.37 89.31-54.81 11.46-134.27-39.86-186.73-58.13-96.69-33.66-141.65 6.2-225.45 42.43-19.49 8.43-39.32 18.17-61.18 13.81-27.81-5.55-32.63-29.31-45.62-50.38-19.47-31.59-40.14-51.34-67.33-75.64-.64-.57-1.84.07-1.23-2.19h18.72c1.97 0 25.35 23.95 28.29 27.39 32.55 37.98 34.48 77.27 97.48 55.19C696.23 56.9 751.73 7.47 834.76 26.23c62.57 14.14 155.82 79.14 214.27 70.63 40.94-5.96 56.57-41.89 81.7-69.02 6.81-7.35 14.31-14.25 21.61-21.11Z" class="svg-swirl"/><path d="M1123.54 0c.44 1.86-.68 1.85-1.62 2.7-26.7 24.34-50.65 61.83-89.06 63.58-53.32 2.44-126.71-43.1-177.13-63.92-1.16-.48-3.85-.99-3.87-2.37h60.96c1.28 0 19.41 10.14 22.87 11.69 33.59 15.07 74.58 30.94 110.74 15.36 14.04-6.05 24.23-17.02 35.35-27.05h41.76ZM203.86 0c.58 2.25-.53 1.61-1.22 2.2-3.4 2.92-7.48 5.29-10.81 8.33-21.95 20.08-37.3 50.66-54.39 75.21-26.67 38.29-74.42 102.82-121.91 113.29-5.12 1.13-9.87 2.1-15.19 1.61v-36.48c19.65-.45 35.61-10.49 50.78-21.7C101.89 104.95 134.89 47.38 175.54 0h28.32ZM.34 668.64c12.18-17.01 23.49-34.68 35.7-51.66 31.5-43.83 56.94-86.06 118.25-59.08 10.3 4.53 21.25 10.57 30.38 17.13-20.89-5.88-38.59-10.5-59.5-1.41-29.11 12.65-59.65 59.67-78.56 85.6-15.59 21.37-30.03 43.91-46.26 64.62v-55.2ZM144.34 0c.31 1.63-.81 2.53-1.54 3.74-8.74 14.45-25.71 34.24-36.88 47.6C78.29 84.37 44.06 122.07.34 131.52V95.04c14.51-3.17 28.37-12.01 40.24-20.72C68.66 53.68 90.74 25.54 114.1 0h30.24ZM718.42 0 613.75 50.37c-19.94 7.88-36.76 10.91-56.29-.29-12.03-6.9-18.78-18.81-27.66-28.98-6.3-7.21-13.48-13.81-19.69-21.1 6.17.84 10.91 7.63 15.86 11.49 7.96 6.19 14.88 12.23 25.18 14.18 30.26 5.73 58.19-11.41 83.28-25.68h84ZM.34 1025.28c6.38-3.61 11.77-8.66 18.56-11.68 45.87-20.44 78.65 30.42 99.54 63.02 16.79 26.2 32.12 53.8 46.07 81.61-.62 1.33-1.84-1.26-2.15-1.69-12.54-17.58-23.72-36.22-36.82-53.42-17.02-22.33-45.85-56.3-75.77-58.63-18.57-1.44-35.67 8.94-49.43 20.14v-39.36Z" class="svg-swirl"/><path d="M.34 618.24v-60c11.81-18 33.25-47.59 56.26-50.3 17.58-2.07 36.99 8.7 52.58 16.33 3.02 1.48 21.58 10.39 21.7 11.89.16 2.11-2.6.62-3.3.45-8.75-2-18.25-7.23-27.17-8.37-27.87-3.55-44.98 14.19-60.67 33.87C25.5 579.97 13.7 599.75.34 618.23ZM76.18 0c.44 1.86-.68 1.85-1.62 2.7C51.1 24.09 29.36 49.47.34 63.36V24.48C12.15 17.01 24.38 9.84 34.42 0h41.76ZM1026.58 0c-.65 1.75-4.83 2.32-6.49 2.63-9.54 1.79-22.64 1.1-32.15-.97-.94-.21-2.87-.34-2.65-1.66h41.28ZM552.34 0c.25 1.26-1.77 1.54-2.63 1.68-3.45.53-8.67.54-12.16.16-.94-.1-3.61-.42-3.45-1.83h18.24Z" class="svg-swirl"/></svg>
  </section>

  <section class="about-highlight">
    {aboutList && <section class="about-list" set:html={aboutList}></section>}
  </section>

  
  
  <section class="masonry-layout">
    
    <div class="shape shape-features testimony__shape">
      


      <!-- <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" version="1.1" viewBox="0 0 1285.4 2160"><defs><style>.st0{fill:#869AA3}</style></defs><path d="M493.4 0H0v1195.2l894.7-510.8L493.4 0zM0 1617.6V2160h1042.6l-499.3-849.5L0 1617.6zM650 1065.2l-2.9-2-70.6-120.5c-5-.8-20.9 19.1-23.3 23.8-15.4 30.4.6 53.1 15 78.7 27.5 48.6 56.4 96.7 84.5 145 187.5 322 376.5 643.1 564.3 965l1.3 4.9h67.2l-.4-3.8-628.3-1075.7M588.5 0l-1.2 3.5 540.3 923.8c26.7-16 37.3-49.1 22.3-77.1L653.8 0h-65.3Z" class="st0"/></svg> -->
<style>
  .testimony__shape {opacity: .4;}
  </style>

       <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 841.89 1190.55"><defs><clipPath id="a"><path style="fill:none" d="M-4 0h841.89v1190.55H-4z"/></clipPath></defs><g style="clip-path:url(#a)"><path d="M750.42 0c0 3.61-1.99 18.97-1.25 22.55.44 2.12.22 4.38.26 6.57.05 2.35.08 4.69.59 7.02.36 1.66.26 3.43.32 5.16.1 3.13-.08 6.28.71 9.37.27 1.04.2 2.18.21 3.28.01 8.01.01 16.02 0 24.03 0 .94.09 1.92-.14 2.81-.97 3.87-.67 7.8-.76 11.72-.06 2.67-.04 5.32-.65 7.96-.34 1.51-.22 3.12-.27 4.69-.09 3.29.03 6.58-.74 9.84-.35 1.5-.2 3.12-.23 4.69-.04 1.83-.07 3.64-.52 5.44-.21.84-.36 2.26-.39 3.13-.06 1.81-.09 3.62-.55 5.38-.12.46-.28 1.22-.33 1.69-1.02 11.18-3.01 22.21-5.84 33.06-2.22 8.51-4.77 16.92-8.63 24.87-1.7 5.12-4.84 9.49-7.39 14.16-3.33 6.08-7.46 11.63-11.76 17.02-2.87 3.6-5.68 7.29-9.14 10.4-1.29 1.16-2.49 2.39-3.69 3.64-1.92 2-3.88 3.89-6.09 5.57-2.24 1.71-4.27 3.68-6.53 5.39a109.04 109.04 0 0 1-28.87 15.64c-3.67 1.33-7.55 2.13-11.38 2.95-3.09.66-6.24 1.1-9.37 1.56-1.06.16-2.79.33-3.86.35-2.59.03-5.19-.06-7.78.05-8.11.32-15.93-1.24-23.61-3.58-5.55-1.69-11.09-3.45-16.45-5.72-5.5-2.33-10.82-4.99-15.98-8.01-7.32-4.3-14.19-9.27-21.11-14.14-3.33-2.34-6.43-5.01-9.68-7.47-5.49-4.18-10.94-8.42-16.55-12.43-3.95-2.82-7.95-5.62-12.32-7.81-2.1-1.05-4.04-2.46-6.18-3.4-7.9-3.48-15.79-7.01-24.43-8.34-.93-.14-1.83-.44-2.75-.64-3.7-.8-7.43-1.14-11.21-1.06-4.39.1-8.79.03-13.19.05-2.67.01-5.32.05-7.96.65-1.51.34-3.12.23-4.69.27-2.51.06-5 .05-7.49.64-1.5.36-3.12.26-4.69.3-2.06.05-4.12 0-6.13.61-.42.13-1.11.23-1.54.21-3.56-.12-7 .93-10.54 1.13-2.34.13-4.59 1.08-6.98.96-3.95 1.14-8.14.5-12.09 1.65-3.33-.16-6.56.68-9.78 1.21-4.18.69-8.46.51-12.58 1.58-4.56.01-9.05.8-13.58 1.09-2.35.15-4.69.17-7.01.71-1.36.31-2.81.24-4.22.27-3.45.07-6.89-.05-10.31.72-1.65.37-3.44.18-5.16.22-3.29.07-6.6-.14-9.83.76-.74.2-1.56.16-2.34.17-2.67.04-5.34 0-7.94.76-.59.17-1.24.16-1.87.17-2.51.03-5.03.05-7.47.79-.19.06-.39.1-.59.11-4.98.24-9.88 1.08-14.76 2.02-5.54 1.06-11.09 2.1-16.56 3.53-4.56 1.2-9.04 2.68-13.43 4.35-4.73 1.81-8.98 4.45-12.48 8.22a26.613 26.613 0 0 0-4.06 5.75c-1.17 2.24-1.78 4.65-1.9 7.22-.24 4.89.45 9.61 2.07 14.23.36 1.03.71 2.06 1.03 3.11 2.02 6.71 5.12 12.9 8.71 18.89 2.34 3.91 4.82 7.71 7.58 11.34 1.14 1.51 2.36 2.92 3.66 4.29 2.8 2.96 5.9 5.64 8.25 9.03.86 1.24 2.24 2.13 3.13 3.35 2.38 3.27 5.07 6.3 8.33 8.69 4.05 2.96 6.95 7.14 11.11 9.98.9.61 1.62 1.48 2.4 2.25 3.13 3.09 6.25 6.19 9.39 9.27 1.9 1.87 3.73 3.82 5.96 5.32.9.6 1.64 1.46 2.41 2.24 15 14.98 29.99 29.97 44.99 44.95 1.4 1.4 2.8 2.79 3.9 4.46.41.62 1.23 1.51 1.76 2.03 3.66 3.61 6.71 7.74 9.97 11.69 4.7 5.7 8.97 11.7 13.39 17.6 3.01 4.02 5.69 8.28 8.37 12.52 2.85 4.51 5.6 9.08 8.25 13.71 2.5 4.36 4.83 8.81 7.19 13.24 1.69 3.16 3.08 6.48 5.04 9.5 3.71 5.71 6.4 11.97 8.35 18.5.72 2.39 2.07 3.63 4.12 4.07 1.82.39 3.65.74 5.49.95 2.55.29 6.7.91 9.24 1.27 1.44.2 2.87.4 4.31.65 8.81 1.48 17.59 3.16 26.31 5.08 8.42 1.86 16.94 3.25 25.28 5.49 4.99 1.35 10.03 2.54 15.02 3.9 4.84 1.32 9.66 2.73 14.47 4.18 7.36 2.22 14.7 4.51 22.06 6.74 2.7.82 5.44 1.52 8.13 2.39 6.28 2.01 12.4 4.46 18.59 6.73 6.93 2.54 13.75 5.35 20.59 8.09 2.35.94 6.16 2.6 8.44 3.7 3.88 1.86 7.74 3.73 11.67 5.5 4.51 2.03 8.91 4.33 13.26 6.71 4.36 2.38 8.63 4.92 12.82 7.59 5.8 3.68 11.67 7.25 17.14 11.42 1.99 1.52 3.97 3.07 5.92 4.65 3.53 2.86 7.04 5.75 10.54 8.65.24.2.47.4.69.62 2.92 2.86 5.75 5.81 8.7 8.65 4.19 4.04 7.87 8.52 11.45 13.09 2.61 3.33 5.36 6.56 7.88 9.96 2.52 3.4 4.92 6.9 7.23 10.45 2.48 3.81 4.84 7.71 7.15 11.62 2.07 3.51 4.1 7.06 5.97 10.68 3.03 5.86 5.96 11.77 8.85 17.7a95.05 95.05 0 0 1 3.6 8.44c2.49 6.69 5.15 13.34 7.03 20.23 2.19 8.01 4.47 16.02 5.56 24.29.41 3.08.99 6.13 1.49 9.2.14.84.21 1.7.23 2.55.09 3.09.06 6.17.73 9.23.47 2.14.39 4.4-.12 6.55-.48 2.01-.6 4.04-.51 6.08.19 4.43-.65 8.75-1.42 13.07-1.19 6.65-3 13.14-5.21 19.54-3.46 10.01-8.12 19.39-14.31 27.99-2.56 3.56-5.42 6.91-8.08 10.4-4.97 6.53-11.17 11.89-16.85 17.73-.65.67-1.43 1.21-2.16 1.81-.73.6-1.55 1.1-2.18 1.79-3.1 3.37-6.72 6.15-10.22 9.04-4.59 3.79-9.15 7.62-14.08 11-4.47 3.07-8.94 6.16-13.45 9.18-3.87 2.6-7.87 5.01-11.98 7.21-1.75.94-3.46 1.97-5.13 3.05-3.43 2.23-7.11 4-10.75 5.85-1.91.97-3.85 1.92-5.77 2.88-6.55 3.28-13.26 6.25-20.08 8.95-7.1 2.8-14.18 5.64-21.32 8.32-6.07 2.28-12.32 4.08-18.38 6.38-6.06 2.3-12.31 4.02-18.6 5.57-2.51.62-4.93 1.52-7.38 2.35-6.99 2.36-14.07 4.42-21.22 6.25-6.08 1.55-12.1 3.33-18.17 4.93-5.3 1.4-10.65 2.64-16.08 3.49-.77.12-1.53.32-2.3.49-7.35 1.59-14.67 3.38-22.08 4.71-6.47 1.16-12.93 2.42-19.45 3.39-6.5.97-13.03 1.84-19.46 3.28-2.58.57-5.27.69-7.89 1.2-3.69.71-7.43 1.21-11.15 1.65-3.57.43-7.09 1.39-10.73 1.27-.98-.03-1.98.23-2.97.34-1.44.16-2.89.3-4.32.55-4.24.75-8.51 1.06-12.81 1.06-2.91.79-5.89.85-8.88.91-.78.01-1.55.24-2.32.35-1.72.25-3.43.64-5.16.46-.9-.09-1.79.14-2.63.48-.76.3-1.61.43-2.44.47-5.19.23-10.23 1.45-15.32 2.38-11.89 2.18-23.5 5.56-35.27 8.29-5.5 1.27-11.01 2.47-16.54 3.61-4.56.94-9.1 1.97-13.6 3.21-6.41 1.78-12.88 3.29-19.38 4.7-7.65 1.66-15.23 3.6-22.85 5.4-4.58 1.09-9.12 2.34-13.75 3.19-5.18.95-10.34 2.01-15.52 2.99-5.13.96-10.25 1.98-15.35 3.07-4.46.95-8.93 1.83-13.4 2.68-6.31 1.2-12.62 2.44-18.95 3.55-2.62.46-5.28.65-7.9 1.16-4.31.83-8.65 1.46-12.97 2.21-6.94 1.21-13.85 2.61-20.83 3.66-4.49.68-9 1.25-13.48 1.95-4.18.66-8.39 1.15-12.54 2.06-2.44.54-4.91.96-7.4 1.21-8.38.82-25.68 4.76-33.4 7.7-6.6 2.51-13.29 4.78-19.74 7.66-3.44 1.53-6.87 3.09-10.29 4.65-1.14.52-2.23 1.2-3.41 1.59-3.62 1.2-6.73 3.37-10.02 5.19-1.22.67-1.74 1.76-1.78 3.11-.03 1.1-.05 2.2-.05 3.3v126.72c0 1.41.05 2.82.14 4.23.06.94.91 1.81 1.79 1.91.62.07 1.25.13 1.88.15 1.41.02 2.83.02 4.24.02h439.53c1.88 0 3.77-.01 5.65-.09 1.17-.05 2.11-.6 2.61-1.71.84-1.86 1.7-3.71 2.47-5.6 3.67-9.03 8.4-17.56 12.82-26.23 1.71-3.35 3.96-6.42 5.88-9.66 1.18-1.99 2.39-3.96 3.73-5.85 4.46-6.3 8.59-12.83 13.52-18.8 3.2-3.86 6.15-7.93 9.35-11.79 2.3-2.77 4.58-5.57 6.91-8.32 2.94-3.48 6.27-6.61 9.13-10.13 4.12-5.07 8.92-9.46 13.43-14.13 1.75-1.81 3.5-3.6 5.32-5.33 1.61-1.53 3.09-3.15 4.82-4.53.98-.78 2.58-2.08 3.48-2.95 2.01-1.94 3.99-3.92 6-5.86a52.61 52.61 0 0 1 3.81-3.34c3.42-2.75 6.79-5.55 10-8.56 2.14-2.01 4.38-3.9 6.67-5.74 5.57-4.46 11.27-8.76 16.78-13.29 7.64-6.27 15.84-11.77 23.82-17.57 6.73-4.89 13.61-9.57 20.59-14.1 6.72-4.36 13.44-8.73 20.36-12.79 2.84-1.67 5.6-3.47 8.42-5.19 4.69-2.86 9.46-5.58 14.36-8.07 2.52-1.28 4.91-2.8 7.42-4.08 6.58-3.35 13.12-6.78 19.81-9.89 6.69-3.1 13.48-5.98 20.36-8.64 3.07-1.19 6.08-2.56 9.13-3.78 3.06-1.23 6.13-2.41 9.22-3.55 6.92-2.55 13.86-5.05 20.78-7.59 1.77-.65 3.51-1.37 5.26-2.05 9.23-3.61 18.49-7.18 27.69-10.87 2.15-.86 4.27-1.82 6.38-2.8 5.26-2.46 10.6-4.76 15.82-7.3 5.93-2.9 11.79-5.9 17.69-8.86.84-.42 1.69-.82 2.54-1.24V956c-1.93.65-3.89 1.22-5.79 1.95-5.57 2.13-11.02 4.56-16.73 6.33-1.95.6-3.95 1.05-5.86 1.74-3.84 1.38-7.63 2.88-11.45 4.33-2.94 1.11-5.88 2.2-8.82 3.3-3.67 1.38-7.37 2.69-11.01 4.14-4.22 1.69-8.42 3.46-12.59 5.27a889.23 889.23 0 0 0-15.48 6.89c-3.31 1.51-6.48 3.34-9.85 4.72-.8.33-2.08.89-2.84 1.3-4.33 2.3-8.68 4.58-12.98 6.94-.89.49-2.31 1.36-3.15 1.93-8.98 6.05-17.93 12.14-26.89 18.23-.26.18-.52.36-.77.54-5.2 3.78-10.39 7.58-15.62 11.33-7.13 5.13-14.36 10.11-21.35 15.43-4.99 3.8-9.92 7.68-14.75 11.67-2.66 2.19-5.48 4.2-7.85 6.74-4.01 2.54-6.99 6.27-10.73 9.15-3.77 2.9-7.45 6-10.69 9.55-.58.64-1.22 1.24-1.94 1.71-2.14 1.37-3.83 3.24-5.65 4.97-3.29 3.12-6.27 6.59-9.93 9.32-.55.41-1.41 1.12-1.9 1.61-11.08 11.07-22.17 22.14-33.24 33.22-.67.67-1.41 1.29-1.93 2.05-1.88 2.75-4.28 5-6.55 7.39-.75.79-1.4 1.69-2.08 2.54-1.88 2.33-3.68 4.72-5.65 6.97-3.57 4.06-6.94 8.29-10.26 12.55-1.77 2.28-3.59 4.53-5.35 6.82-2.59 3.35-5.17 6.71-7.73 10.08-.38.49-.63 1.08-.93 1.63-.3.54.17 1.29.86 1.31 1.57.05 3.14.09 4.71.09H832.8c1.73 0 3.45-.04 5.18-.06v.94H-3.25c-.07-.09-.17-.18-.19-.28-.03-.15 0-.31 0-.47C-3.44 797.13-1.51 392.68-1.5 0H.38c-.02 1.88-2 15.54-2 17.43v952.6c0 1.73 0 3.45.08 5.18.07 1.65 1.19 2.54 2.87 2.27 2.01-.33 4.01-.73 6.01-1.13 9.22-1.88 18.4-3.94 27.6-5.9 7.83-1.67 15.59-3.57 23.38-5.41 9.77-2.31 19.52-4.68 29.31-6.88 8.1-1.83 16.25-3.46 24.38-5.19 1.07-.23 2.13-.53 3.2-.79a538.2 538.2 0 0 1 26.66-5.78c3.08-.58 6.14-1.31 9.19-2.01 4.89-1.13 9.76-2.33 14.66-3.43 7.5-1.68 15.01-3.29 22.51-4.94 3.06-.67 6.13-1.33 9.19-2.03 4.89-1.13 9.76-2.34 14.66-3.44 7.5-1.68 15.01-3.29 22.51-4.93 7.81-1.71 15.62-3.44 23.43-5.13 3.22-.7 6.45-1.33 9.67-1.99 7.92-1.61 15.89-3.02 23.74-4.98 5.83-1.45 11.74-2.58 17.67-3.59 7.43-1.27 14.74-3.11 22.23-4.1 4.19-.55 8.32-1.53 12.48-2.3 2.16-.4 4.31-.88 6.48-1.12 4.38-.47 8.63-1.58 12.96-2.34 6.02-1.06 12-2.31 18-3.48 4-.78 7.99-1.62 12-2.36 4.62-.85 9.26-1.62 13.89-2.43 3.86-.68 7.71-1.38 11.58-2.04 6.8-1.16 13.52-2.7 20.34-3.74 5.06-.77 10.04-2.11 15.13-2.74 2.82-.35 5.61-.9 8.4-1.47 5.24-1.07 10.53-1.88 15.79-2.91 3.99-.79 8.04-1.28 12.04-2.1 6.26-1.29 12.52-2.56 18.8-3.68 3.43-.61 6.84-1.37 10.29-1.89 6.36-.95 12.64-2.32 18.92-3.69 8.52-1.87 17-3.89 25.51-5.75 6.57-1.43 17.28-3.99 23.78-5.7 4.46-1.18 8.93-2.34 13.32-3.78 2.23-.74 4.56-1.21 6.77-2 6.21-2.21 12.5-4.24 18.54-6.86 6.9-2.99 13.8-6.11 19.89-10.65 3.14-2.34 6.29-4.68 9.1-7.43 2.13-2.09 4.35-4.08 6.48-6.17 6.7-6.55 12.03-13.97 15.43-22.81 1.97-5.12 3.46-10.37 5.03-15.6 1.83-6.12 3.32-12.33 4.4-18.62.85-4.93 1.84-9.86 1.47-14.94-.09-1.21-.03-2.43.04-3.64.14-2.5-.31-4.91-.66-7.35-.72-5.01-1.81-9.92-3.12-14.79-.52-1.95-1.14-3.86-1.86-5.75-2.07-5.43-4.28-10.79-6.97-15.96-2.26-4.33-5.16-8.24-7.84-12.31-.6-.91-1.44-1.66-2.2-2.45-1.52-1.59-2.92-3.27-4.35-4.94-3-3.5-6.22-6.82-9.86-9.7-.86-.68-2.2-1.86-2.98-2.62-4.61-4.56-9.81-8.41-14.98-12.28-6.2-4.64-12.6-9.01-19.18-13.1-4.74-2.95-9.47-5.92-14.28-8.75-3.24-1.91-6.53-3.75-9.82-5.58-10.84-6.03-21.95-11.55-33.09-17-3.95-1.93-7.99-3.66-12.02-5.42-5.75-2.5-11.52-4.99-17.32-7.39-5.8-2.4-11.61-4.77-17.48-7-6.6-2.52-13.23-4.93-19.9-7.27-4.74-1.66-9.49-3.28-14.36-4.53-6.84-1.76-13.62-3.72-20.45-5.51-3.18-.84-6.41-1.49-9.63-2.19-.44-.09-.92.04-1.38.09-.38.05-.89.63-.88.99.01.46-.04.95.07 1.39 1.07 4.27 1.29 8.68 2.17 12.98.19.91.12 1.88.18 2.82s-.03 1.92.21 2.81c.85 3.08.69 6.23.74 9.36.03 1.89.15 3.74.52 5.61.32 1.68.33 3.43.39 5.15.1 2.51 0 5.02.64 7.49.27 1.04.26 2.18.26 3.28.02 9.74.02 19.47.01 29.21 0 1.1.04 2.23-.22 3.28-.67 2.63-.63 5.29-.65 7.96-.02 1.88-.02 3.77-.06 5.65-.03 1.1.05 2.24-.22 3.28-.73 2.78-.63 5.6-.68 8.43-.04 2.2-.08 4.37-.56 6.55-.34 1.51-.3 3.11-.35 4.68-.09 2.66.03 5.33-.7 7.95-.25.89-.22 1.87-.24 2.81-.06 2.2-.09 4.39-.68 6.54-.25.89-.23 1.87-.26 2.8-.07 2.2-.08 4.39-.69 6.54-.25.89-.18 1.87-.29 2.8-.16 1.4-.36 2.79-.54 4.19-.12.9-.3 1.79-.35 2.69-.09 1.76-.3 3.51-.67 5.23-.53 2.45-.67 4.96-1.07 7.44-1.24 7.74-2.46 15.48-4.1 23.14-1.18 5.52-2.6 10.99-4.03 16.46-2.28 8.66-5.05 17.18-8.53 25.43-3.48 8.27-7.97 16-13.37 23.2-2.85 3.8-6.18 7.11-9.59 10.34-2.4 2.27-5.27 3.95-8.11 5.62-5.07 2.98-10.56 4.88-16.3 6.1-.76.16-1.53.26-2.3.28-1.72.06-3.42.2-5.11.6-2.01.49-4.09.5-6.09.18-5.1-.81-10.25-1.36-15.27-2.68-5.47-1.43-10.94-2.8-16.28-4.69-3.85-1.36-7.67-2.77-11.38-4.5-1.85-.86-3.81-1.5-5.61-2.45-3.74-1.98-7.41-4.1-11.11-6.16-1.37-.76-2.73-1.55-4.1-2.3-9.09-5.01-17.79-10.58-25.84-17.17-4.73-3.87-9.57-7.61-14.41-11.35-3.85-2.98-7.65-5.99-11.07-9.48-5.83-5.94-11.75-11.79-17.6-17.71-1.1-1.11-2.05-2.37-3.07-3.55-.93-1.07-1.87-2.12-2.79-3.19-.92-1.07-1.84-2.14-2.75-3.22-.4-.48-.71-1.05-1.16-1.48-2.96-2.83-5.44-6.08-8.08-9.18-2.44-2.86-4.76-5.83-7.16-8.72-4.51-5.43-8.62-11.18-12.83-16.84-4.22-5.68-8.03-11.61-11.8-17.59-.64-1.02-1.26-2.07-1.94-3.06-1.21-1.76-2.34-3.57-3.3-5.47-1.72-3.44-3.62-6.8-5.6-10.1-.98-1.63-1.79-3.36-2.55-5.1-1.06-2.45-2.36-4.81-3.5-7.23-3.69-7.82-7.01-15.8-9.62-24.07-1.16-3.68-2.59-7.26-4.07-10.83-.59-1.41-.9-2.94-1.31-4.41-.65-2.35-1.3-4.69-1.83-7.06-1.19-5.23-2.49-10.47-2.54-15.88 0-.48-.12-1.25-.24-1.72-.8-3.09-.6-6.26-.65-9.41-.03-2.36.04-4.71-.04-7.07-.17-5.22.73-10.3 1.87-15.36 1.94-8.62 4.94-16.85 8.96-24.72 2.36-4.63 5.25-8.9 8.32-13.09 3-4.08 6.51-7.68 10.27-10.99 4.71-4.14 9.65-8.06 15.09-11.21 3.64-2.1 7.47-3.89 11.29-5.67 3.1-1.44 6.22-2.85 9.39-4.11 3.26-1.29 6.45-2.82 9.76-3.97 9.64-3.34 19.32-6.55 29.28-8.84 5.5-1.27 11.04-2.34 16.57-3.43 6.41-1.27 12.86-2.27 19.28-3.43.98-.18 1.97-.29 2.96-.31 1.92-.05 3.84-.09 5.69-.69.12-.04.24-.06.36-.06 4.56.03 9.02-1.1 13.57-1.16 1.74-.02 3.45-.11 5.16-.46 1.25-.26 2.52-.4 3.8-.44 2.64-.08 5.28-.06 7.92-.08 1.54 0 3.06-.1 4.58-.33 1.47-.22 3.87-.5 5.35-.51 4.21-.05 8.41-.01 12.62-.04.94 0 1.87-.11 2.81-.22.68-.08 1.36-1.1 1.17-1.78-.35-1.2-.63-2.44-1.15-3.58-2.13-4.72-4.2-9.47-6.54-14.09-2.27-4.47-4.8-8.82-7.29-13.18-2.49-4.36-5-8.71-7.61-12.99-6.13-10.05-12.37-20.03-19.59-29.35-3.65-4.71-7.17-9.52-10.84-14.21-2.02-2.59-4.24-5.03-6.34-7.58-2.29-2.78-4.46-5.67-6.82-8.39-3.3-3.78-6.3-7.82-9.98-11.27-1.49-1.4-2.86-2.89-4.05-4.58-.81-1.14-1.86-2.13-2.85-3.12-8.21-8.22-16.44-16.43-24.66-24.64-3-3-5.98-6.01-8.95-9.04-1.43-1.45-2.88-2.89-4.01-4.61-.51-.78-1.2-1.45-1.84-2.14-1.38-1.48-2.85-2.89-3.92-4.63a3.81 3.81 0 0 0-.62-.77c-3.68-3.43-6.61-7.55-10.09-11.17-1.09-1.13-2.04-2.37-3.06-3.57-.71-.84-1.4-1.69-2.12-2.52-.51-.59-1.14-1.11-1.57-1.76-2.58-3.92-5.66-7.5-7.99-11.6-.92-1.61-1.82-3.24-2.81-4.8-5.58-8.77-8.87-18.4-10.98-28.49-.52-2.48-.85-4.94-.83-7.46 0-.47-.04-.94-.02-1.41.09-2.19-1.15-4.28-.47-6.52.6-1.99.38-4.05.59-6.08.18-1.71.55-3.4.9-5.09.66-3.22 1.24-6.46 2.24-9.61 1.86-5.87 4.43-11.4 7.71-16.61 1.25-1.99 2.41-4.05 3.73-5.99 3.37-4.98 7.68-9.14 12.11-13.11 2.47-2.21 5.07-4.35 7.88-6.18 1.66-1.08 3.27-2.24 4.85-3.43 4.03-3.06 8.5-5.39 12.88-7.84 10.15-5.68 20.5-11 31.02-15.98 1.83-.87 3.71-1.63 5.62-2.29 6.82-2.36 13.61-4.83 20.62-6.62 7.79-1.99 15.56-4.04 23.36-6.02 6.19-1.58 12.44-2.97 18.77-3.87 1.77-.25 3.54-.58 5.28-1.01 2-.49 4.04-.75 6.1-.85 2.1-.1 4.17-.57 6.25-.87 2.17-.31 4.33-.73 6.51-.88 2.04-.15 4.05-.27 6.06-.71 1.36-.3 2.81-.24 4.22-.28 1.67-.04 3.33-.12 4.98-.42 1.25-.22 3.31-.47 4.59-.47 11.08-.03 22.16-.02 33.23-.01 1.1 0 2.24-.08 3.28.18 3.25.82 6.55.68 9.84.72 1.73.02 3.46.01 5.18.05.94.02 1.92-.07 2.81.17 3.23.85 6.52.67 9.8.75h.04c3.9.35 7.79.83 11.67 1.27 3.88.45 7.74 1.16 11.63 1.61 1.71.2 3.39.59 5.09.87 6.49 1.08 12.99 2.13 19.39 3.71 2.59.64 5.15 1.4 7.72 2.09 11.95 3.19 23.38 7.7 34.25 13.62.9.49 1.77 1.03 2.63 1.59 3.93 2.6 7.9 5.14 11.74 7.87 3.07 2.17 6.07 4.45 8.79 7.06.57.54 1.08 1.17 1.72 1.61 4.53 3.07 7.76 7.54 11.99 10.91 5.09 4.07 9.52 8.84 13.64 13.89 1 1.23 2.33 2.24 3.29 3.53 3.61 4.85 8.1 8.86 12.42 13 4.13 3.95 8.87 7.25 14.1 9.55 4.39 1.93 9.06 3.16 14 2.98.78-.03 1.57-.04 2.35-.01 9.32.34 17.42-2.86 24.71-8.2 1.44-1.06 2.73-2.32 3.83-3.73 2.8-3.58 5.28-7.35 7.18-11.55 3.26-7.2 5.37-14.73 6.99-22.42.23-1.07.53-2.13.74-3.21.69-3.54 1.39-7.07 2.01-10.62.49-2.78.7-5.61 1.32-8.36.53-2.33.61-4.66.64-7.01.03-2.2.03-4.38.54-6.55.28-1.19.28-2.47.3-3.71.04-2.95.04-5.9.02-8.85-.02-2.88.07-5.73-.59-8.57-.35-1.5-.24-3.12-.28-4.69-.09-3.2.13-6.42-.7-9.56-.09-.32-.17-.86-.17-1.2-.03-3.45-.11-6.9-.95-10.28.19-3.09-.79-6.03-1.17-9.04-.53-4.16-1.25-8.3-2.08-12.41-.61-3.05-.86-6.14-1.4-9.21-.51-2.93-1.1-5.85-1.61-8.79-.81-4.63-1.59-9.27-2.39-13.9-.3-1.7-.65-3.39-.96-5.08-1.08-5.85-2.16-11.7-2.88-17.62-.3-2.48.98-16.7 1.15-19.23h86.69ZM295.67 552.66c-5.34 0-10.67-.01-16.01 0-1.25 0-2.55-.09-3.75.2-3.1.75-6.23.67-9.36.71-1.88.02-3.76.02-5.6.55-.6.17-1.23.28-1.85.3-4.89.14-9.62 1.32-14.39 2.17-2.93.52-5.84 1.25-8.65 2.23-7.13 2.48-13.9 5.75-20.31 9.76-1.33.83-2.75 1.53-4.03 2.43-6.08 4.28-11.34 9.42-15.61 15.51-2.56 3.65-4.31 7.76-4.42 12.24-.13 5.62-.39 11.25.68 16.88 1.12 5.87 2.4 11.68 4.24 17.34 3.15 9.71 7.12 19.1 11.64 28.26 3.06 6.19 6.2 12.33 9.66 18.32 1.72 2.99 3.24 6.1 5.06 9.03 3.23 5.2 6.58 10.32 9.93 15.43 1.2 1.84 2.63 3.52 3.82 5.36 4.94 7.66 10.95 14.52 16.3 21.87.28.38.64.69.94 1.05 2.61 3.13 5.12 6.33 7.83 9.37 2.82 3.16 5.29 6.6 8.33 9.58 5.05 4.94 10.03 9.95 14.99 14.98 4.1 4.14 8.52 7.86 13.6 10.75 1.5.85 2.97 1.76 4.45 2.65 8 4.79 16.6 8.11 25.58 10.58 2.51.69 4.86.69 7.38.03 4.31-1.11 7.71-3.5 10.36-6.92 1.33-1.72 2.38-3.7 3.29-5.69 2.02-4.43 3.54-9.06 4.83-13.75 1.58-5.75 2.57-11.63 3.6-17.49.49-2.77.89-5.58 1.09-8.38.29-4.06 1.32-8.05 1.13-12.16-.01-.31.05-.63.15-.93.72-2.29.59-4.65.68-7 .07-1.88.07-3.78.4-5.62.34-1.87.51-3.73.5-5.61-.03-4.87 1.23-9.64 1.21-14.51 0-.15.05-.31.09-.46.61-1.98.58-4.03.61-6.07.04-2.67 0-5.33.69-7.95.27-1.04.2-2.18.22-3.28.05-2.35.02-4.71.09-7.06.05-1.41.11-2.83.39-4.2.35-1.71.46-3.42.46-5.14.02-4.55.04-9.11.09-13.66.02-1.41-.04-2.86.28-4.22.54-2.33.56-4.67.57-7.02.04-10.83.07-21.66.1-32.49 0-2.51-.05-5.01.59-7.49.27-1.04.22-2.18.23-3.28.02-5.96.03-11.93.01-17.89 0-1.1.04-2.23-.23-3.28-.6-2.32-.58-4.66-.64-7.01-.03-1.09-.1-2.2-.3-3.27-.15-.8-.76-1.43-1.56-1.61-1.06-.23-2.17-.38-3.25-.38-5.03.02-9.95-1.36-14.99-1.14-.31.01-.63-.07-.93-.16-1.98-.6-4.02-.61-6.07-.62-2.67-.02-5.33 0-7.95-.68-.89-.24-1.87-.2-2.81-.22-1.73-.04-3.45-.03-5.18-.05-2.66-.03-5.32 0-7.96-.64-1.35-.32-2.81-.25-4.22-.25-5.34-.02-10.67 0-16.01 0" style="fill:#fff"/></g></svg> -->

      

      <!-- <svg class="shape__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1051 1064" style="enable-background:new 0 0 1051 1064" xml:space="preserve">
        <path fill="#dacbff" d="M371.7 559.9 121.4 72.2 562.4 0 1051 709.6 700.9 1064H0l371.7-504.1z"></path>
        <path class="line" fill="#fff" d="M591.8 327.9c-1.5 0-2.1 2.5-.4 3.3 78.8 36.8 163.2 58.8 248.9 72.4l-2.6-3.7c-27.6-4.4-55-9.7-82.2-16.1-56-13.2-110.9-31.3-163.1-55.7-.2-.1-.4-.2-.6-.2zM532.2 1063c-57.2-13.8-101.8-21.6-144.4-25-15-1.3-30.3-1.9-45.5-1.9-7.3 0-14.7.2-22.1.4-21.6 1-44.5 2.7-66.5 8.6-14.8 4-27.1 10-36.4 17.9H215c12-10.7 29-18 51.8-22.3 22.4-4.1 47-6.2 73.1-6.2 19.6 0 39.9 1.1 62.1 3.4 49.9 5.2 98.1 15.8 135.8 25.1h-5.6z"></path>
        <path class="line" fill="#fff" d="M339.9 1033.5c-24.6 0-49.2 1.8-73.3 6.3-19.5 3.6-39.6 10.2-54.2 24.3h5.2c10.2-8.7 23.2-14.4 36.3-17.9 21.4-5.7 44.2-7.5 66.3-8.5 7.3-.3 14.7-.4 22-.4 15.1 0 30.3.6 45.4 1.9 48.8 4 96.8 13.5 144.3 25H546c-47.5-11.8-95.3-22-144-27.1-20.4-2.3-41.2-3.6-62.1-3.6zm158.9-379.7c-70.4 0-133.3-1.2-192.3-3.7l.9-1.3c46.7 2 94.6 3.2 146.5 3.6 14.3.1 29.1.2 44.1.2 89.9 0 181.3-2 269.7-4 53.2-1.2 108.1-2.4 162.2-3.2 26.7-.4 51.2-.6 75-.7l.9 1.3c-79.5.4-160.2 2.2-238.2 3.9-34.7.8-70.6 1.6-105.9 2.2-63.4 1.1-115.2 1.7-162.9 1.7z"></path>
        <path class="line" fill="#fff" d="M1005.5 643.6c-25.2.1-50.4.4-75.6.7-144 2-288 7.2-431.9 7.2-14.7 0-29.4-.1-44.1-.2-49-.4-98-1.5-147-3.6l-2.4 3.2c64.7 2.8 129.4 3.8 194.2 3.8 54.3 0 108.7-.7 163-1.7 115.3-2.2 230.7-5.6 346.1-6.1l-2.3-3.3zM332.4 614.9c36-5.5 73.7-10.6 115.2-15.5 72.5-8.7 146.4-15.8 217.9-22.7l16.8-1.6c79.6-7.7 157.5-15.4 234.1-25.1 7.2-.9 14.4-1.9 21.6-2.8l.9 1.3c-15.8 2.1-31.9 4.2-47.9 6.1-74.8 9.1-151.1 16.4-224.8 23.5l-10.5 1c-87.4 8.4-160.2 15.6-235.7 25.1-30.6 3.9-60.5 8-88.6 12.3l1-1.6z"></path>
        <path class="line" fill="#fff" d="M938.4 546c-7.4 1-14.8 2-22.2 2.9-77.8 9.9-156 17.6-234.1 25.1-78.3 7.5-156.6 14.9-234.7 24.3-38.6 4.6-77.2 9.7-115.6 15.6l-2.8 3.9c30.3-4.7 60.6-8.9 91-12.7 78.4-9.9 157-17.6 235.6-25.1 78.6-7.6 157.1-15 235.4-24.5 16.5-2 33-4.1 49.5-6.3l-2.1-3.2zM717.2 1046.1c-46.3-20.9-92.5-45-137.4-71.6-7.4-4.4-15-8.9-22.3-13.3-63.1-37.8-128.4-77-202.5-89.1-.4-.1-.7-.6-.7-.9 0-.2.1-.3.4-.4 82.9-10.7 167.8-17.3 247.7-23.2 8.3-.6 16.5-1.2 24.8-1.8 105-7.7 213.5-15.7 319.3-31.7l-1.5 1.6c-43.5 6.6-90.1 12.2-142.4 17.2-58.4 5.6-117.9 10-175.4 14.2-85.8 6.3-174.5 12.8-261.3 23.6l-.1 2c36.2 7.3 72.9 21 115.6 43.3 26.4 13.8 52.4 29.4 77.6 44.5 9.6 5.7 19.4 11.6 29.2 17.4 38.5 22.7 77.8 43.3 116.6 61.2 4.4 2.1 9 4.1 13.6 6.2l-1.2.8z"></path>
        <path class="line" fill="#fff" d="m365.5 870.4-.1 2.6c-2.7-.5-5.4-1-8.2-1.5 2.8-.4 5.6-.8 8.3-1.1m583.7-57.8c-114.9 17.6-231.1 25.4-346.9 33.9-82.7 6.1-165.4 12.6-247.7 23.2-2 .3-1.4 3 .3 3.3 82.6 13.5 153.8 60.4 224.4 102.3 44.7 26.5 90.8 50.6 138.2 71.9l2.4-2.4c-5-2.2-9.9-4.5-14.9-6.8-39.8-18.4-78.6-38.9-116.5-61.2C553 956 518.2 934.1 481.7 915c-36.7-19.2-75.2-35.2-115.8-43.4 145.1-18.1 291.3-23.8 436.7-37.9 47.7-4.6 95.4-10.1 142.8-17.3l3.8-3.8z"></path></svg>
     -->
    </div>
    <div class="masonry-layout__grid">
      {
        masonryLayout.map((item) => (
          <article class="masonry-layout__card">
            <figure class="masonry-layout__card-figure">
              <img src={item.img} alt={item.alt} loading="lazy" />
            </figure>
            <header>
              <h3 class="masonry-layout__card-title" set:html={item.title}></h3>
              <p class="masonry-layout__card-description" set:html={item.description}></p>
            </header>
            
          </article>
        ))
      }
    </div>
  </section>

  <section class="faqSection">
    <FaqPage faqs={faqItems} />
  </section>

  <CTA
    title={cta.title}
    description={cta.description}
    buttonText={cta.buttonText}
    buttonLink={cta.buttonLink}
  />


  <script 
  type="application/ld+json" 
  set:html={JSON.stringify(faqSchema)}>
</script>

<style is:inline>
  .shape {
    position: absolute;
    
        width: 100%;
        top: 0;
        left: 0;
    
}
.shape svg {
  width: 100%;
  height: auto;
}
</style>
</BaseLayout>

<script src="/assets/js/services.js" defer></script>
